<%- include("../layouts/header", {title: 'Editar Sensores' }) %>
  <%- include("../layouts/menu") %>
    <div class="container_1">
      <h1>Editar informação dos Sensores</h1>
      <div class="coluna_1">
        <div class="coluna_conteudo">
          <a href="/sensores">Voltar</a>
        </div>
      </div>
      <div class="container_tabela">
        <% if (sensores1.error) { %>
          <p class="">
            <%= sensores1.error %>
          </p>
          <% } %>
            <form action="/sensores/<%= sensores1.id_sensores %>?_method=put" method="POST">
              <table>
                <thead>
                  <tr class="item">
                    <th>ID</th>
                    <th>Tag do Sensor</th>
                    <th>Nome Linha sensores</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="item">
                    <td>
                      <%= sensores1.id_sensores %>
                    </td>

                    <td>
                      <input class="input" type="text" name="nomesensores" value="<%= sensores1.nome_sensores%>" required>
                    </td>

                    <td>
                      <input class="input" type="text" name="linhasensores" value="<%= sensores1.linha_sensores%>" required>
                    </td>

                    <td>
                      <button type="submit">Atualizar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
      </div>
    </div>
    <%- include("../layouts/footer") %>