<%- include("../layouts/header", {title: 'Sensores' }) %>

  <%- include("../layouts/menu") %>

<div class="container_1">
    <h1>Sensores</h1>
    <div class="coluna_1">
      <div class="coluna_conteudo">
        <a href="/">Voltar</a>
      </div>
      <div class="coluna_conteudo">
        <a href="/">Voltar</a>
      </div>
      <div class="coluna_conteudo">
        <a href="/">Voltar</a>
      </div>
      <div class="coluna_conteudo">
        <a href="/">Voltar</a>
      </div>
    </div>
    <div class="container_tabela">
      <table>
        <thead>
          <tr class="item">
            <th>ID</th>
            <th>Setor</th>
            <th>Linha</th>
          </tr>
        </thead>
        <tbody>
          <% setor.forEach(setor=> { %>
            <tr class="item">
              <td>
                <%= setor.id_setor %>
              </td>
              <td>
                <%= setor.nome_setor %>
              </td>
              <td>
                <%= setor.linha_setor %>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <%- include("../layouts/footer") %>