<%- include("../layouts/header", {title: 'LISTA DE SETORES' }) %>
  <%- include("../layouts/menu") %>
    <div class="container_1">
      <h1>Lista de Sensores</h1>
      <div class="coluna_1">
        <div class="coluna_conteudo">
          <a href="/sensoresNovo">Adicionar dados sensor</a>
        </div>
        <div class="coluna_conteudo">
          <a href="/sensoresBusca">Buscar dados do sensor</a>
        </div>
      </div>
      <div class="container_tabela">
        <table>
          <thead>
            <tr class="item">
              <th>ID</th>
              <th>Fabricante</th>
              <th>Modelo</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody>
            <% tipo_sensor.forEach(tipo_sensor=> { %>
              <tr class="item">
                <td>
                  <%= tipo_sensor.id_tipo_sensor %>
                </td>
                <td>
                  <%= tipo_sensor.fabricante %>
                </td>
                <td>
                  <%= tipo_sensor.modelo_sensor %>
                </td>
                <td>
                  <%= tipo_sensor.tipo_sensor %>
                </td>
                <td>
                  <a href="/sensores/<%= tipo_sensor.id_tipo_sensor %>?_method=delete">REMOVER</a>
                </td>
                <td>
                  <a href="/sensores/<%= tipo_sensor.id_tipo_sensor %>/update">EDITAR</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include("../layouts/footer") %>