<%- include("../layouts/header", {title: 'BUSCA DE SETORES' }) %>
  <%- include("../layouts/menu") %>
    <div class="container_1">
      <div>
        <div>
          <h1>Busca Setor ou Linha</h1>
        </div>
        <div class="coluna_1">
          <div class="coluna_conteudo">
            <a href="/setor">Voltar</a>
          </div>
        </div>
      </div>
      <div class="container_tabela">
        <% if (busca===1) { %>
          <% setor.forEach(setor=> { %>
            <table>
              <thead>
                <tr class="item">
                  <th>ID do setor</th>
                  <th>Nome do setor</th>
                  <th>Linha do setor</th>
                </tr>
              </thead>
              </thead>
              <tbody>
                <tr class="item">
                  <td>
                    <%= setor.id_setor %>
                  </td>
                  <td>
                    <%= setor.nome_setor %>
                  </td>
                  <td>
                    <%= setor.linha_setor %>
                  </td>
                </tr>
              </tbody>
            </table>
            <% }) %>
              <% } else { %>
                <form action="/setorSearch/:nomeSetor/:linhaSetor" method="POST">
                  <table>
                    <thead>
                      <tr class="item">
                        <th>Nome do setor</th>
                        <th>Linha do setor</th>
                      </tr>
                    </thead>
                    </thead>
                    <tbody>
                      <tr class="item">
                        <td>
                          <input class="input" type="text" name="nomeSetor" value="<%= setor.nome_setor%>">
                        </td>
                        <td>
                          <input class="input" type="text" name="linhaSetor" value="<%= setor.linha_setor%>">
                        </td>
                        <td>
                          <button type="submit">Buscar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <% } %>
      </div>
    </div>
    <%- include("../layouts/footer") %>