<%- include("../layouts/header", {title: 'Início' }) %>

    <%- include("../layouts/menu") %>

    <div class="main">
        <div class="coluna">
          <div class="coluna_conteudo">
            <h1>Motores</h1>
          </div>
          <div class="coluna_conteudo">
              <a href="/">Voltar</a>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Fabricante</th>
              <th>Modelo</th>
              <th>Potencia</th>
            </tr>
          </thead>
          <tbody>
            <% motores.forEach(motor=> { %>
              <tr>
                <td>
                  <%= motor.id_motores %>
                </td>
                <td>
                  <%= motor.fabricante_motor %>
                </td>
                <td>
                  <%= motor.modelo_motor %>
                </td>
                <td>
                  <%= motor.potencia_motor %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

<%- include("../layouts/footer") %>