<%- include("../layouts/header", {title: 'BUSCA DE MOTORES' }) %>
  <%- include("../layouts/menu") %>
    <div class="container_1">
      <div>
        <div>
          <h1>Busca por Fabricante, modelo ou Potência</h1>
        </div>
        <div class="coluna_1">
          <div class="coluna_conteudo">
            <a href="/motores">Voltar</a>
          </div>
        </div>
      </div>
      <div class="container_tabela">
        <% if (busca===1) { %>
          <% motores.forEach(motor=> { %>
            <table>
              <thead>
                <tr class="item">
                  <th>ID</th>
                  <th>Fabricante</th>
                  <th>Modelo</th>
                  <th>Potencia</th>
                </tr>
              </thead>
              </thead>
              <tbody>
                <tr class="item">
                  <td>
                    <%= motor.id_motores %>
                  </td>
                  <td>
                    <%= motor.fabricante_motor %>
                  </td>
                  <td>
                    <%= motor.modelo_motor %>
                  </td>
                  <td>
                    <%= motor.potencia_motor %>
                  </td>
                </tr>
              </tbody>
            </table>
            <% }) %>
              <% } else { %>
                <form action="/motoresSearch/:fabricante/:modelo/:potencia" method="POST">
                  <table>
                    <thead>
                      <tr class="item">
                        <th>Fabricante</th>
                        <th>Modelo</th>
                        <th>Potencia</th>
                      </tr>
                    </thead>
                    </thead>
                    <tbody>
                      <tr class="item">
                        <td>
                          <input class="input" type="text" name="fabricante" placeholder="Informe o fabricante do motor">
                        </td>
                        <td>
                          <input class="input" type="text" name="modelo" placeholder="Informe o modelo do Motor">
                        </td>
                        <td>
                          <input class="input" type="text" name="potencia" placeholder="Informe a potência do motor">
                        </td>
                        <td>
                          <button type="submit">Buscar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <% } %>
      </div>
    </div>
    <%- include("../layouts/footer") %>