<%- include("../layouts/header", {title: 'Editar Equipamento' }) %>
  <%- include("../layouts/menu") %>
    <div class="container_1">
      <h1>Editar informação do Equipamento</h1>
      <div class="coluna_1">
        <div class="coluna_conteudo">
          <a href="/equipamento">Voltar</a>
        </div>
      </div>
      <div class="container_tabela">
        <% if (equipamento1.error) { %>
          <p class="">
            <%= equipamento1.error %>
          </p>
          <% } %>
            <form action="/equipamento/<%= equipamento1.id_equipamento %>?_method=put" method="POST">
              <table>
                <thead>
                  <tr class="item">
                    <th>ID</th>
                    <th>Nome equipamento</th>
                    <th>Nome Linha equipamento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="item">
                    <td>
                      <%= equipamento1.id_equipamento %>
                    </td>

                    <td>
                      <input class="input" type="text" name="tagEquipamento" value="<%= equipamento1.tag_equipamento%>"
                        required>
                    </td>

                    <td>
                      <input class="input" type="text" name="idSetorEquipamento" value="<%= equipamento1.id_setor%>"
                        required>
                    </td>

                    <td>
                      <button type="submit">Atualizar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
      </div>
    </div>
    <%- include("../layouts/footer") %>