<%- include("../layouts/header", {title: 'BUSCA DE EQUIPAMENTOS' }) %>
  <%- include("../layouts/menu") %>
    <div class="container_1">
      <div>
        <div>
          <h1>Busca equipamento ou Linha</h1>
        </div>
        <div class="coluna_1">
          <div class="coluna_conteudo">
            <a href="/equipamento">Voltar</a>
          </div>
        </div>
      </div>
      <div class="container_tabela">
        <% if (busca===1) { %>
          <% equipamento.forEach(equipamento=> { %>
            <table>
              <thead>
                <tr class="item">
                  <th>ID</th>
                  <th>TAG equipamento</th>
                  <th>ID setor do Equipamento</th>
                </tr>
              </thead>
              </thead>
              <tbody>
                <tr class="item">
                  <td>
                    <%= equipamento.id_equipamento %>
                  </td>
                  <td>
                    <%= equipamento.tag_equipamento %>
                  </td>
                  <td>
                    <%= equipamento.id_setor %>
                  </td>
                </tr>
              </tbody>
            </table>
            <% }) %>
              <% } else { %>
                <form action="/equipamentoSearch/:tagEquipamento/:idSetorEquipamento" method="POST">
                  <table>
                    <thead>
                      <tr class="item">
                        <th>TAG equipamento</th>
                        <th>ID setor do Equipamento</th>
                      </tr>
                    </thead>
                    </thead>
                    <tbody>
                      <tr class="item">
                        <td>
                          <input class="input" type="text" name="tagEquipamento"
                            value="<%= equipamento.tag_equipamento%>" required>
                        </td>
                        <td>
                          <input class="input" type="text" name="idSetorEquipamento" value="<%= equipamento.id_setor%>">
                        </td>
                        <td>
                          <button type="submit">Buscar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <% } %>
      </div>
    </div>
    <%- include("../layouts/footer") %>